

main {
    
   
        background: url(../assets/board.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      
}


header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}
 
 h1 {
     justify-content: center;
 }


.post-it{
     background-image: url(../assets/post.png);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 800px;
    width: 200px;
    font-size: 1em;
    background-repeat: no-repeat;
    ;
}

.auth-main{
    max-width: max-content;
    margin: auto;
    
}